# Python
__pycache__/
*.py[cod]

# Distribution / Packaging
build/
dist/
*.egg-info/
*.spec

# Installer
dist_installer/

# Executables
*.exe
*.pkg

# Environments
.env
.venv/
venv/

# VS Code
.vscode/

# OS system files
.DS_Store
Thumbs.db
